@use '../../styles/variables' as *;

.text {
  font-family: $font-family-primary;
  margin: 0;
  padding: 0;
  color: inherit;
}

// Variants
.h1 {
  font-size: $font-size-xxl;
  font-weight: $font-weight-bold;
  line-height: 1.2;
}

.h2 {
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
  line-height: 1.3;
}

.h3 {
  font-size: $font-size-lg;
  font-weight: $font-weight-semibold;
  line-height: 1.4;
}

.body1 {
  font-size: $font-size-md;
  font-weight: $font-weight-normal;
  line-height: 1.5;
}

.body2 {
  font-size: $font-size-sm;
  font-weight: $font-weight-normal;
  line-height: 1.5;
}

.caption {
  font-size: $font-size-xs;
  font-weight: $font-weight-normal;
  line-height: 1.4;
}

.label {
  font-size: $font-size-sm;
  font-weight: $font-weight-semibold;
  line-height: 1.4;
  text-transform: uppercase;
}

// Colors
.primary {
  color: $color-text-primary;
}

.secondary {
  color: $color-text-secondary;
}

.inverse {
  color: $color-text-inverse;
}

.inherit {
  color: inherit;
}

// Modifiers
.bold {
  font-weight: $font-weight-bold;
}

.center {
  text-align: center;
}

